{% extends "base.html" %}

{% block title %}Recepti | WebKuh{% endblock %}

{% block content %}

<div class="recipes-header">

    <div class="recipes-title-filter">

        <h1>Recepti:</h1>

        <div class="recipes-filter">
            <a href="{% url 'recipes:list' %}?view=mine&sort={{ sort_mode }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}"
                class="{% if view_mode == 'mine' %}active{% endif %}">
                Moji
            </a>

            <a href="{% url 'recipes:list' %}?view=favorites&sort={{ sort_mode }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}"
                class="{% if view_mode == 'favorites' %}active{% endif %}">
                Omiljeni
            </a>

            <a href="{% url 'recipes:list' %}?view=all&sort={{ sort_mode }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}"
                class="{% if view_mode == 'all' %}active{% endif %}">
                Svi
            </a>
        </div>

    </div>

    <form method="get" class="recipes-search">
        <input type="hidden" name="view" value="{{ view_mode }}">
        <input type="hidden" name="sort" value="{{ sort_mode }}">
        {% if category %}
            <input type="hidden" name="category" value="{{ category }}">
        {% endif %}

        <input
            type="text"
            name="q"
            value="{{ query }}"
            placeholder="Pretraži recepte..."
        >

        <button type="submit">Traži</button>
    </form>

    <a href="{% url 'recipes:create' %}" class="btn-add-recipe">
        + Dodaj recept
    </a>

</div>

<div class="recipes-toolbar">

    <div class="recipes-info">

        {% if view_mode == "mine" %}
            <p>Prikaz: <strong>Moji recepti</strong></p>

        {% elif view_mode == "favorites" %}
            <p>Prikaz: <strong>Omiljeni recepti</strong></p>
        
        {% elif view_mode == "all" %}
            <p>Prikaz: <strong>Svi javni recepti drugih korisnika</strong></p>

        {% endif %}

        <p>Ukupno: <strong>{{ total_recipes }}</strong> recepata</p>
    </div>

    <form method="get" class="recipes-category">
        <input type="hidden" name="view" value="{{ view_mode}}">
        <input type="hidden" name="sort" value="{{ sort_mode}}">
        {% if query %}
            <input type="hidden" name="q" value="{{ query }}">
        {% endif %}

        <select name="category">
            <option value="">Sve kategorije</option>
            {% for value, label in category_choices %}
                <option value="{{ value }}" {% if category == value %}selected{% endif %}>
                    {{ label }}
                </option>
            {% endfor %}
        </select>
    </form>

    <div class="recipes-sort">

        <span>Sortiraj</span>

        <a href="?view={{ view_mode }}&sort=newest{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}"
            class="{% if sort_mode == 'newest' %}active{% endif %}">
            Najnoviji
        </a>

        <a href="?view={{ view_mode }}&sort=oldest{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}"
            class="{% if sort_mode == 'oldest' %}active{% endif %}">
            Najstariji
        </a>
    </div>

</div>

<div class="recipe-grid">
    {% for recipe in recipes %}
        {% if recipe.owner == user %}
            <a href="{% url 'recipes:detail' recipe.slug %}?view={{ view_mode }}&sort={{ sort_mode }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}&page={{ page_obj.number }}" class="recipe-card-link">
        {% else %}
            <a href="{% url 'recipes:public_detail' recipe.slug %}?view={{ view_mode }}&sort={{ sort_mode }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}&page={{ page_obj.number }}" class="recipe-card-link">
        {% endif %}
            <article class="recipe-card">

                <div class="recipe-image">
                    {% if recipe.image %}
                        <div class="recipe-image-bg" style="background-image: 
                            url('{{ recipe.image.url }}');"></div>
                    {% else %}
                        <div class="recipe-image-bg"></div>
                    {% endif %}

                    {% if recipe.is_public %}
                        <span class="badge badge-public">Public</span>
                    {% else %}
                        <span class="badge badge-private">Private</span>
                    {% endif %}

                    <div class="recipe-image-overlay">
                        <h3 class="recipe-title">{{ recipe.title }}</h3>
                    </div>
                </div>

                <div class="recipe-body">
                    <div class="recipe-card-meta-row">
                        <p class="recipe-author">By: {{ recipe.owner.username }}</p>

                        {% if recipe.id in favorite_recipe_ids %}
                            <span class="favorite-card-icon" title="Omiljeni recept">♥</span>
                        {% endif %}
                    </div>

                    {% if recipe.description %}
                        <p class="recipe-desc">{{ recipe.description|truncatewords:18 }}</p>
                    {% endif %}

                    <div class="recipe-info">
                        <span>🥚 {{ recipe.ingredients.count }} sastojaka</span>
                        <span>{{ recipe.get_category_display }}</span>
                    </div>
                </div>

            </article>
        </a>
    {% empty %}
        <p>Nema recepata.</p>
    {% endfor %}
</div>

{% if page_obj.paginator.num_pages > 1 %}
    <div class="pagination">

        {% if page_obj.has_previous %}
            <a href="?view={{ view_mode }}&sort={{ sort_mode }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}&page=1">
                &laquo; Prva
            </a>

            <a href="?view={{ view_mode }}&sort={{ sort_mode }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}&page={{ page_obj.previous_page_number }}">
                Prethodna
            </a>
        {% endif %}

        <span class="pagination-info">
            Stranica {{ page_obj.number }} od {{ page_obj.paginator.num_pages  }}
        </span>

        {% if page_obj.has_next %}
            <a href="?view={{ view_mode }}&sort={{ sort_mode }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}&page={{ page_obj.next_page_number }}">
                Sljedeća
            </a>

            <a href="?view={{ view_mode }}&sort={{ sort_mode }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}&page={{ page_obj.paginator.num_pages }}">
                Zadnja &raquo;
            </a>
        {% endif %}
    
    </div>
{% endif %}

{% endblock %}