{% extends "base.html" %}

{% block content %}
    <h1>Obiršti recept</h1>

    <p>Jeste li sigurni da želite obrisati recept:</p>
    <h3>{{ recipe.title }}</h3>

    <form method="post" action="{% url 'recipes:recipe_delete' recipe.slug %}">
        {% csrf_token %}
        <button type="submit" style="background:red; color: white;">
            Da, obriši
        </button>
        <a href="{% url 'recipes:detail' recipe.slug %}">
            Odustani
        </a>
    </form>

    {% endblock %}