{% extends "base.html" %}

{% block title %}{{ recipe.title }} | WebKuh{% endblock %}

{% block content %}
<div class="recipe-detail">

    <h1>{{ recipe.title }}</h1>

    {% if recipe.image %}
        <div class="recipe-detail-image">
            <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
        </div>
    {% endif %}

    <div class="recipe-meta">
        Vrijeme pripreme: {{ recipe.prep_time_minutes}} min.
    </div>

    <div class="recipe-section">
        <h2>Opis</h2>
        <p>{{ recipe.description|default:"Nema opisa." }}</p>
    </div>

    <div class="recipe-section">
        <h2>Sastojci</h2>
        <ul>
            {% for ing in recipe.ingredients.all %}
                <li>{{ ing.amount }} - {{ ing.name }}</li>
            {% empty %}
                <li>Nema sastojaka</li>
            {% endfor %}
        </ul>
    </div>

    <div class="recipe-section">
        <h2>Priprema</h2>
        <div>{{ recipe.instructions|default:"Nema uputa za pripremu."|linebreaks }}</div>
    </div>

    <div class="recipe-actions">
        <a href="{% url 'recipes:update' recipe.slug %}">Uredi</a>
        <a href="{% url 'recipes:list' %}?view={{ request.GET.view|default:'mine' }}&sort={{ request.GET.sort|default:'newest' }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.page %}&page={{ request.GET.page }}{% endif %}">Nazad</a>
        <a href="{% url 'recipes:recipe_delete_confirm' recipe.slug %}" class="recipe-delete">Obriši</a>
    </div>

</div>
{% endblock %}